<template>
    <div>
        <v-row v-if="win" class="fill-height text-center">
            <v-col sm="12">
                <h1>
                    You win!
                </h1>
            </v-col>
            <v-col sm="12">
                <v-btn @click="restart">Restart!</v-btn>
            </v-col>
        </v-row>
        <v-row v-else align="center" justify="center" class="fill-height px-3">
            <v-col sm="3" v-for="(item, index) in shuffleItems" :key="index">
                <CardItem
                        @card-clicked="cardClicked"
                        :opened="isOpened(index) && !!openedCardsIndexes.length"
                        :found="isFound(item.value)"
                        :item="item"
                        :index="index"
                        :disabled="cardsDisabled"
                />
            </v-col>
        </v-row>
    </div>
</template>

<script>
  import CardItem from '@/components/CardItem'
  import { mapState, mapMutations } from 'vuex'
  export default {
    name: "Cards",
    computed: {
      ...mapState({
        items: state => state.cards.items,
        activeItems: state => state.cards.activeItems,
        win: state => state.cards.win
      }),
      shuffleItems() {
        return this.items.map(item => item).sort(() => Math.random() - 0.5)
      }
    },
    data: () => ({
      clickedItem: {
        value: null,
        index: null,
      },
      cardsDisabled: false,
      openedCardsIndexes: [],
    }),
    methods: {
      ...mapMutations({
        INIT_ITEMS: 'cards/INIT_ITEMS',
        ACTIVATE_ITEMS: 'cards/ACTIVATE_ITEMS',
        RESET_GAME: 'cards/RESET_GAME'
      }),
      cardClicked(data) {
        const { item, index } = data;
        this.openedCardsIndexes.push(index);
        if (this.clickedItem.value === item.value && this.clickedItem.index !== index) {
          this.ACTIVATE_ITEMS(item);
          this.openedCardsIndexes = [];
        } else if (this.openedCardsIndexes.length === 2) {
          this.cardsDisabled = true;
          setTimeout(() => {
            this.openedCardsIndexes = [];
            this.clickedItem = {};
            this.cardsDisabled = false;
          }, 2000)
        } else {
          this.clickedItem = item;
        }
      },
      isOpened(index) {
        return this.openedCardsIndexes.includes(index)
      },
      isFound(value) {
        return !!this.activeItems.find(item => item.value === value)
      },
      restart() {
        this.RESET_GAME()
        this.INIT_ITEMS()
      }
    },
    components: {
      CardItem
    },
    created() {
      this.INIT_ITEMS()
    }
  }
</script>
