<template>
    <v-card
        class="card-item"
        :disabled="disabled"
        @click="!found && !opened && !disabled && $emit('card-clicked', {item, index})"
        :class="{'card-item-active': opened || found}"
        :color="found ? 'green' : 'white'"
    >
        <v-card-text class="fill-height align-center justify-center">
            <v-row v-if="opened || found" justify="center" align="center" class="fill-height animate__animated animate__bounceIn">
                {{ item.value }}
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
  export default {
    name: "CardItem",
    props: {
      item: {
        type: Object,
        default: null
      },
      index: {
        type: Number,
        default: null
      },
      opened: {
        type: Boolean,
        default: false
      },
      found: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      },
    }
  }
</script>

<style scoped lang="scss">
.card-item {
    height: 20vh;
    perspective: 1000px;
    transition: 500ms;
    transform: rotateY(-180deg);
    &-active {
    transform: rotateY(0);
}
}
</style>
