<template>
  <v-app>
    <v-main>
      <Cards/>
    </v-main>
  </v-app>
</template>

<script>
import Cards from './components/Cards';

export default {
  name: 'App',

  components: {
    Cards,
  },

  data: () => ({
    //
  }),
};
</script>
